* { box-sizing: border-box; }
body {
  font-family: sans-serif;
  color: #333;
  background: #fbfbfb;
  margin: 3em auto;
  width: 600px;
}
form.songsearch {
  display: flex;
}
form.songsearch input {
  padding: 0.5em;
  border-radius: 0.3em;
  border: 1px solid #aaa;
  margin: 0.2em;
  color: #333;
}
form.songsearch input[type='text'] {
  width: 100%;
}
form.songsearch input[type='submit'] {
  width: 7em;
  background: #4085e5;
  color: #fff;
  border-color: #3673c9;
  cursor: pointer;
}
@media all and (max-width: 600px) {
  body {
    width: 100%;
    margin: 1em;
  }
}
